body{
	font-size: 14px;
}
input[type=text]{
	height: 30px;
	box-sizing: border-box;
	line-height: 30px;
	padding: 0 5px;
	border-radius: 4px;
	border: none;
	box-shadow: 0 0 4px #888;
	outline: none;
}
input[type=radio]{
	vertical-align: -1px;
	outline: none;
}
.form-item{
	height: 50px;
	display: flex;
	align-items: center;
	.text{
		width: 120px;
		display: inline-block;
		text-align: right;
		margin-right: 10px;
	}
	.content{
		display: inline-block;
	}
}
table.type1{
	width: 100%;
	text-align: center;	
	thead{
		background-color: #F2F2F2;				
	}
	th{
		color: #333333;
		height: 40px;
		border: 1px solid #E4E4E4;
		text-align: center;			
		a{
			color: #333;
			text-decoration: none;
		}
	}
	tr{
		border: 1px solid #E4E4E4;
		&:hover{
			background: #F5FDFD;
		}
	}
	td{
		padding: 15px;
	}		
}
i.san{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 5px 0 5px;
	border-color: #999999 transparent transparent transparent;
	line-height: 40px!important;
	vertical-align: middle;
	display: inline-block;
	margin: 0 5px;
	&.up{

	}
}	